<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<bean id="helloBean" class="test.HelloWorld"></bean>
	<bean id="Amercian"  class="practice.Amercian"></bean>
	<bean id="Chinese"   class="practice.Chinese"></bean>
	<bean id="doSay"     class="practice.DoSay">
		<property name="say" ref="Chinese"></property>
	</bean>
</beans>